name: sapa-mitra-backend

services:
  backend:
    container_name: sapa-mitra-backend
    build:
      context: .
      dockerfile: Dockerfile.development
    ports:
      - 4000:4000
    networks:
      - sapa_mitra_network
    volumes:
      - .:/app
  mongo:
    container_name: sapa-mitra-mongo
    image: mongo:latest
    ports:
      - 27017:27017
    networks:
      - sapa_mitra_network
    volumes:
      - sapa_mitra_mongo_data:/data/db
      - sapa_mitra_mongo_config:/data/
networks:
  sapa_mitra_network:
    driver: bridge
volumes:
  sapa_mitra_mongo_data:
  sapa_mitra_mongo_config:
